*{
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto,"Helvetica Neue", Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.main-nav, .navbar{
    margin: 30px 0;
    border-radius: 3px;
}

.my-card{
    margin-top: 15px;
}

.my-card img{
    height: 15rem;
    object-fit: cover;
}

.my-button{
    display: none;
}

.upload-container{
    margin: 20px 0;
}
.my-pogination{
    margin: 20px auto;
}
#folder_createdDate{
    width: 260px;
}