#trigger-upload {
    color: white;
    font-size: 16px;
    padding: 7px 10px;
    background: #00ABC7 none;
    border-radius: 2px;
    border: 1px solid #2dadc2
}

#fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 15px;
}

#fine-uploader-manual-trigger .buttons {
    width: 36%;
}

#fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
    width: 60%;
}