{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap-4.1.0/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap-4.1.0/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap-4.1.0/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bootstrap-4.1.0/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap-4.1.0/js/bootstrap.bundle.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div class="container">
        {% block navbar %}
            <div class="main-nav">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="{{ path('index') }}">Weltkind</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index') }}">Все альбомы<span class="sr-only">(current)</span></a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('create_folder') }}">Создать новый альбом</a>
                            </li>
                            {% endif %}
                        </ul>
                        <span class="navbar-text">
                            {% if app.user %}
                                <a href="{{ path('fos_user_security_logout') }}">Выход</a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">Войти</a>
                            {% endif %}
                        </span>
                    </div>
                </nav>
            </div>
        {% endblock %}
        {% block container %}
            {% block content %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}