{% extends 'container.html.twig' %}
{% block content %}
        <div class="card-group">
            {% for folder in folders %}
                <div class="col-lg-4">
                    <div class="card my-card">
                        {% if folder.images.count %}
                            <a href="{{ path('show_photos', {'id' : folder.id}) }}"><img class="card-img-top" src="/uploads/images/{{ folder.images.first.image }}" alt="Card image cap"></a>
                        {% else %}
                            <a href="{{ path('show_photos', {'id' : folder.id}) }}"><img class="card-img-top" src="{{ asset('images/folder.png') }}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <footer class="blockquote-footer">Количество загруженных фотографий <cite title="Source Title">{{ folder.images.count }}</cite></footer>
                            <footer class="blockquote-footer"><cite title="Source Title">{{ folder.createdDate|date("d F Y") }}</cite></footer>
                            <a href="{{ path('show_photos', {'id' : folder.id}) }}"><h5 class="card-title">{{ folder.name }}</h5></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ render(path('view_sort_folder_form', {'id': folder.id })) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="my-pogination">
            {{ render(controller('App\\Controller\\ImageHandlerController::recentPagePogination', {'currentPage': currentPage })) }}
        </div>
{% endblock %}
{% block javascripts %}
    <script>
        let inputSort = $('.folder-position');
        inputSort.on('change', function () {
            $(this).parent().parent().find('.my-button').show();
        });
    </script>
{% endblock %}
