{% if pages > 0 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination  justify-content-center">
            {% if currentPage != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('page', {'page': currentPage - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in 1..pages %}
                {% if i == currentPage %}
                    <li class="page-item active"><a class="page-link" href="{{ path('page', {'page': i }) }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ path('page', {'page': i }) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage != pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('page', {'page': currentPage + 1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}