{% extends 'container.html.twig' %}
{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
            {{ folder.name }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer"><cite title="Source Title">{{ folder.createdDate|date("d F Y") }}</cite></footer>
                <p class="card-text"><small class="text-muted">{{ folder.description }}</small></p>
            </blockquote>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="upload-container">
            {{ include('file_uplod.html.twig') }}
        </div>
    {% endif %}
        <div class="card-group">
            {% for image in images %}
                <div class="col-lg-3">
                    <div class="card my-card">
                        <a href="/uploads/images/{{ image.image }}" data-toggle="lightbox" data-gallery="example-gallery" data-footer="{{ image.name }}" >
                            <img class="card-img-top" src="/uploads/images/{{ image.image }}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <div class="row">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col-12 col-lg-12">{{ render(path('view_edit_form', {'id': image.id })) }} </div>
                                {% else %}
                                    <div class="col-12 col-lg-12"><p class="card-text"><small class="text-muted">{{ image.name }}</small></p></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on("click", '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock %}

