{{ form_start(form, {'action': path('edit_image', {'id': image.id}), 'method': 'POST'}) }}
{{ form_row(form.name, {'value': image.name}) }}
{{ form_row(form.position, {'value': image.position}) }}
{{ form_row(form.save) }}
{{ form_end(form) }}